#upload-page{
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;
  height: 90vh;
  width: 100vw;
}

#upload-window{
  border-radius: 25px;
  display: flex;
  background: white;	
	height: 35rem;
	width: 60rem;	
	box-shadow: 0px 0px 24px #9b644b;
}

#upload-form {
  display: flex;
  flex-direction: row;
  padding-top: 0.2rem;
  height: 35rem;
	width: 49rem;	
  gap: 0.2rem;
}

#upload-upload-icon {
  cursor: pointer;
  font-size: 4rem;
  color: #2a2a3f;
}

#upload-upload-icon:hover {
  cursor: pointer;
  font-size: 4rem;
  color: #e7793e;
}

#upload-form-image-input {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 37rem;
  height: 34.6rem;
  border-right: solid 1px #2a2a3f;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#image-preview-wrapper {
  min-width: 40rem;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#image-preview {
  max-width: 37rem;
  max-height: 35rem;
}

#upload-form-right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    gap: 1rem;
    min-width: 18rem;
    height: 34.6rem;
  }

  #form-right-panel-title {
    padding-top: 5rem;
  }
  
  #upload-description-label {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  #upload-description-textarea {
    resize: vertical;
    max-height: 6rem;
  }

  #upload-label {
    display: flex;
    flex-direction: column;
  }
  
  #upload-submit-button {
    padding: 1rem;
    align-self: flex-end;
    margin-top: auto; 
  }

  