.body-white {
    background-color: white;
}

#navbar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: solid 1px #2a2a3f;
}

#navbar-left-side {
    text-align: left;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#navbar-right-side {
    justify-content: end;
}

#logout-button {
    padding:0.6em 1.2em;
    border-radius: 8px;
    color:#fff;
    background-color: #2a2a3f;
    font-size:0.8em;
    border: solid white 1px;
    cursor:pointer;
}

#logout-button:hover {
    padding:0.6em 1.2em;
    border-radius: 8px;
    color:#2a2a3f;
    background-color:#ffffff;
    box-shadow: 0px 0px 10px #9b644b;
    font-size:0.8em;
    border: solid #2a2a3f 1px;
    cursor:pointer;
}