#hr-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#horizontal-line {
  width: 20vw;
}

#user-gallery-wrapper {
  padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 100px;
    gap: 1rem;

}

.user-gallery-card {
    border: 2px solid #2a2a3f;
    height: 16rem;
    width: 22rem;
    margin: 10px;
    position: relative;
  }
  
  /* Style the img element */
  .user-gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .user-gallery-zoom-in-icon {
    max-width: 4rem;
    max-height: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Style the opacity layer */
.user-gallery-opacity-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* Show the opacity layer on hover */
.user-gallery-card:hover .user-gallery-opacity-layer {
  display: block;
}

/* Style the popup window */
#popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  display: none;
  background: white;
  height: 35rem;
  width: 60rem;
  box-shadow: 0px 0px 24px #9b644b;
  z-index: 1000;
}

/* Style the image preview wrapper */
#popup-window-image-preview-wrapper {
  width: 70rem;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

/* Style the image preview */
#popup-window-image-preview {
  max-width: 99%;
  max-height: 100%;
}

/* Add a background overlay */
#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Style the information area */
#popup-window-image-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 50%;
  height: 94.5%;
  border-left: solid 2px #2a2a3f;
}

/* Style the image description */
#popup-window-image-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.popup-window-option-button-wrapper {
  position: absolute; /* Add this line to position the button wrapper relative to the popup window */
  top: 0.5rem; /* Adjust the distance from the top of the popup window */
  right: 1rem; /* Adjust the distance from the right side of the popup window */
}

.popup-window-option-button {
  padding: 0.2rem;
}

.dropdown-menu {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  padding-top: 0.20rem;
  width: 100%; /* Set the width to 100% to match the width of the parent element */
  
}

.dropdown-item {
  padding: 1em 1em;
  border-radius: 8px;
  color: #fff;
  background-color: #2a2a3f;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertically align the icon and text */
  justify-content: center; /* Horizontally align the icon and text */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}

.dropdown-item i {
  color: #fff; /* Set the icon color to white */
  margin-right: 8px; /* Add some spacing between the icon and the text */
}
.dropdown-item:hover {
  padding: 1em 1em;
  border-radius: 8px;
  color: #2a2a3f;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #9b644b;
  font-size: 0.8em;
  border: solid #2a2a3f 1px;
  cursor: pointer;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertically align the icon and text */
  justify-content: center; /* Horizontally align the icon and text */
}

.dropdown-item:hover i {
  color: #2a2a3f; /* Set the icon color to match the text color on hover */
}

.show {
  display: block;
}