#profile-page {
    display: flex;
    flex-direction: row;
}

#left-panel {
    border: solid 1px red;
    height: 92vh;
    max-width: 15rem;
}

#right-panel {
    border: solid 1px blue;
    width: 100vw;
}

#user-info-wrapper {
    border: solid 1px green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#user-info-profile-image {
    border: solid 1px magenta;
    display: flex;
    align-items: center;
    width: 7rem;
    min-width: 7rem;
}

#user-info-profile {
    border: solid 1px orange;
    padding-left: 1rem;
    padding-right: 1rem;
}

#extra-user-info-wrapper {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#user-info-nickname {
    font-size: 2rem;
}

#user-info-age {
    width: 1.4rem;
}

#user-info-age {
    
}

#user-info-country {
    width: 3rem;
}

#user-info-language {
    width: 3rem;
}

#user-info-gamertag {
    width: 4rem;
}

#user-info-bio-wrapper {
    border: solid 1px gray;
    padding-top: 0.5rem;
}

#user-info-bio {
    height: 3rem;
    width: 21.3rem;
    border: none;
    resize: none;
}

#user-info-edit-button-wrapper {
    border: solid 1px brown;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 4.5rem;
}
