#profile-page {
    display: flex;
    flex-direction: row;
}

#left-panel {
    border: solid 1px red;
    height: 92vh;
    max-width: 15rem;
}

#right-panel {
    border: solid 1px blue;
    width: 100vw;
}


#user-info-profile-image {
    border: solid 1px magenta;
    display: flex;
    align-items: center;
    width: 7rem;
    min-width: 7rem;
}

#profile-image {
    width: 7rem;
    min-width: 7rem;
}

#user-info-wrapper {
    border: solid 1px green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#user-gallery-wrapper {
    border: solid 1px green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 100px;
    gap: 1rem;

}

.user-gallery-card {
    border: 2px solid #2a2a3f;
    height: 16rem;
    width: 22rem;
}

#profile-image-input {
    width: 7rem;
}

#profile-image-preview-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#profile-image-preview {
    max-width: 6.5rem;
    max-height: 6.5rem;
    border-radius: 50%;
    border: solid 2px #2a2a3f;
    z-index: -1;
}

#user-info-profile {
    border: solid 1px orange;
    padding-left: 1rem;
    padding-right: 1rem;
}

#extra-user-info-wrapper {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#user-info-nickname {
    font-size: 2rem;
}

#user-info-age {
    width: 1.4rem;
    font-weight: 550;
}

#user-info-country {
    width: 3rem;
    font-weight: 550;
}

#user-info-language {
    width: 3rem;
    font-weight: 550;
}

#user-info-gamertag {
    width: 4rem;
    font-weight: 550;
}

#user-info-bio-wrapper {
    border: solid 1px gray;
    padding-top: 0.5rem;
}

#user-info-bio {
    height: 3rem;
    width: 21.3rem;
    border: none;
    resize: none;
    font-weight: 550;
}

.user-info-input{
    border: 2px solid #2a2a3f;
    background-color:  #2a2a3f;
    font-weight: 200;
    color: white;
    box-shadow: 0px 0px 3px #9b644b;
}

#user-info-edit-button-wrapper {
    border: solid 1px brown;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 4.5rem;
}
